* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* shift+alt+a- kommentaaride saamiseks*/
/* 
=========
NAVBAR
=========
*/
.nav-links {
  display: none; /* lingid kaovad kui väiksem?! */
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  box-shadow: 0 0 10px 0 black;
  z-index: 999;
  background: white;
  position: relative;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  font-size: 2rem;
  width: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
/* nav dropdown */

.nav-dropdown {
  position: absolute;
  background: rgb(214, 195, 195);
  width: 100%;
  height: auto;
  transform: translateY(-160%);
  transition: 250ms all ease-in-out;
}

.nav-dropdown-links {
  font-size: 1.25rem;
}

.nav-dropdown-links li {
  padding: 0.5rem 0;
  transition: 250ms all ease-in-out;
}

.nav-dropdown-link li:hover {
  background: grey;
}

.nav-dropdown-link {
  color: black;
  padding-left: 2rem;
}
/* class for js */
.show-dropdown-menu {
  transform: translateY(0);
}
/* end of nav dropdown */
@media screen and (min-width: 850px) {
  .nav-btn {
    display: none;
  }

  /*crl shift i*/
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-left: 5rem;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .nav-links a {
    color: rgb(61, 58, 58);
    font-size: 1.25rem;
    transition: 250ms all easy-in-out;
  }
  .nav-links a:hover {
    color: red;
  }
  .nav-dropdown {
    display: none;
  }
}

/* 
=========
COUNTER
=========
*/
.counter {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center; /* ainult gridi funktsioon */
}

.counter-container {
  text-align: center;
}

#value {
  font-size: 4rem;
}

.counter-btn {
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border-radius: 10px;
  border: 1px solid black;
  transition: 250ms all ease-in-out;
  margin-top: 1rem;
}

.counter-btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.counter-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*RANDOM USER GENERATOR*/
*/ main {
  height: calc(100vh - 4rem);
}
.section-center {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.user-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-random-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  box-shadow: var(--dark-shadow);
  padding: 2rem 0;
}
.user-name {
  text-align: center;
  margin: 0.5rem 0;
}
.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border: 1px solid black;
}
.other-user-info {
  display: flex;
  column-gap: 1rem;
}
@media screen and (max-width: 750px) {
  .other-user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* icons */
.info-btn {
  box-shadow: 0 0 5px 1px black;
  min-width: 6rem;
  min-height: 6rem;
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}

.info-btn i {
  margin-bottom: 0.25rem;
}
/* email */
.email-info {
  margin: 1rem 0;
  text-align: center;
}
.email-info i {
  font-size: 1.5rem;
}
/* phone */
.phone-info {
  margin: 1rem 0;
  text-align: center;
}
.phone-info i {
  font-size: 1.5rem;
}
/* age */
.age-info {
  margin: 1rem 0;
  text-align: center;
}
.age-info i {
  font-size: 1.5rem;
}
/* country */
.country-info {
  margin: 1rem 0;
  text-align: center;
}
.country-info i {
  font-size: 1.5rem;
}
/* country */
.username-info {
  margin: 1rem 0;
  text-align: center;
}
.username-info i {
  font-size: 1.5rem;
}
/* country */
.password-info {
  margin: 1rem 0;
  text-align: center;
}
.password-info i {
  font-size: 1.5rem;
}
/* icon active */
.active {
  box-shadow: 0 0 5px 1px red;
}
@media screen and (max-height: 800px) {
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .user-img {
    width: 100px;
    height: 100px;
  }
  .info-btn {
    min-width: 4rem;
    min-height: 4rem;
    padding: 0.25rem;
  }
  h4 {
    font-size: 0.75rem;
  }
  .one-random-user {
    height: 96%;
  }
}

/* display info */
.display-info {
  margin: 2rem 0;
}
/* BTN */
.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  border: none;
  border-radius: 10px;
  background: none;
  box-shadow: var(--light-shadow);
}
.btn:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
  color: rgb(82, 80, 80);
}
.btn-on-click {
  box-shadow: 0 0 0 1px black;
}
@media screen and (max-height: 800px) {
  .btn {
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
  }
  .display-info {
    margin: 1rem 0;
  }
  .display {
    font-size: 1rem;
    text-align: center;
  }
}

/*END OF RANDOM USER GENERATOR*/
